.contenedor{

    display: flex;
    margin: 0 auto;
    width: 80%;

}

.izquierda{
    width: 40%;
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
    padding: 10px;
    
}

.derecha{
    margin: 70px;
}

nav ul{
  
    display: flex;
    list-style: none;
}

nav ul li{
    color: #fff;
    padding: 0;
    display: flex;
    text-decoration: none;
}

main{
    padding: 100px;
    width: 50%;
}